
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");

body {
	font-family: 'Crimson Text', serif;
	background-color: #fff;
	color: #555;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

#about-me {
	margin: 0 auto;
	max-width: 58%;
	text-align: center;
}

#about-me img {
	max-width: 25%;
	border: solid 1px #666;
	opacity: 0.9;
}

#intro a {
	color: #555;
	text-decoration: underline;
}

#social-icons ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 20px;
}

#social-icons ul > li {
	font-size: 2.5em; 
	margin-left: 1em;
	display: inline-block;
}

#social-icons ul > li:first-child {
	margin-left: 0;
}

#social-icons a {
	color: #555;
}

#social-icons a:hover, 
#social-icons a:focus {
	color: #666;
}

#contact-me i {
	margin-right: 0.25em; 
}

#contact-me .btn {
  font-family: 'Roboto', sans-serif;
  background-color: #679aeb;
  border-color: #679aeb;
  color: #fff;
}

#contact-me .btn-primary:hover, 
#contact-me .btn-primary:focus { 
  background-color: #7aa6eb;
  border-color: #7aa6eb;
}
