
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-envelope4:before {
	content: "\e000";
}
.flaticon-github17:before {
	content: "\e001";
}
.flaticon-logo:before {
	content: "\e002";
}
.flaticon-researchgate:before {
	content: "\e003";
}
.flaticon-social19:before {
	content: "\e004";
}

/* Extra small devices (phones, less than 768px) */

#about-me {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#about-me .headshot {
    max-width: 30%;
}

#about-me h2 {
    font-size: 24px;
}

#about-me .lead {
    font-size: 18px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #about-me .headshot {
        max-width: 20%;
    }

    #about-me h2 {
        font-size: 25px;
    }

    #about-me .lead {
        font-size: 19px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #about-me {
        max-width: 80%;
    }

    #about-me .headshot {
        max-width: 25%;
    }

    #about-me h2 {
        font-size: 26px;
    }

    #about-me .lead {
        font-size: 20px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #about-me {
        max-width: 60%;
    }

    #about-me h2 {
        font-size: 30px;
    }

    #about-me .lead {
        font-size: 21px;
    }
}

#about-me {
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: #555;
}

#about-me h2 {
    font-family: 'Roboto', sans-serif;
}

#about-me .headshot {
    border: solid 1px #666;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

#about-me p a {
    color: #555;
    text-decoration: underline;
}

#about-me .social-icons ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px;
}

#about-me .social-icons ul > li {
    display: inline-block;
}

#about-me .social-icons ul > li:first-child {
    margin-left: 0;
}

#about-me .social-icons a {
    color: #555;
    text-decoration: none;
}

.flaticon-social19:before,
.flaticon-social19:after {
    font-size: 32px;
}
.flaticon-github17:before,
.flaticon-github17:after {
    margin-left: 32px;
    font-size: 42px;
    position: relative;
    top: 2px;
}
.flaticon-logo:before,
.flaticon-logo:after {
    margin-left: 32px;
    font-size: 29px;
    position: relative;
    top: -4px;
}
.flaticon-researchgate:before,
.flaticon-researchgate:after {
    margin-left: 32px;
    font-size: 37px;
    position: relative;
    top: 1px;
}

#about-me .social-icons a:hover, 
#about-me .social-icons a:focus {
	color: #555;
    text-decoration: none;
}

#about-me .buttons a {
    text-decoration: none;
}

#about-me .buttons .btn {
    font-family: 'Roboto', sans-serif;
    background-color: #679aeb;
    border-color: #679aeb;
    color: #fff;
}

#about-me .buttons .btn-primary:hover, 
#about-me .buttons .btn-primary:focus { 
    background-color: #679aeb;
    border-color: #679aeb;
}

#about-me .buttons .btn-lg, .btn-group-lg > .btn {
    padding: 10px 12px;
}
