pelican==3.6.0
Markdown==2.6.2
typogrify==2.0.7
git+https://github.com/miracle2k/webassets.git@9d051539f8
libsass==0.8.2
yuicompressor==2.4.8
Fabric==1.10.2
git+https://github.com/davisp/ghp-import@40f0718c67
