<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include "_head.html" %}
</head>

<body class="post-index">

{% include "_navigation.html" %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include "_author.html" %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    </div>
    <div class="article-wrap">
      {{ article.content }}
      <hr />
      <footer role="contentinfo">
        <p class="byline"><strong>{{ article.title }}</strong> was published on
          <time datetime="{{ article.date.strftime("%Y-%m-%d") }}">{{ article.date.strftime("%B %d, %Y") }}</time>
          {% if article.modified %} and last modified on
          <time datetime="{{ article.modified.strftime("%Y-%m-%d") }}">{{ article.modified.strftime("%B %d, %Y") }}</time>{% endif %}.</p>
      </footer>
    </div>
  </article>
</div>

<div class="footer-wrap">
  {% if article.related_posts %}
  <div class="related-articles">
  <h4>Related articles <small class="pull-right">(<a href="{{ SITEURL }}">View all articles</a>)</small></h4>
    <ul>
    {% for post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  <footer>
    {% include "_footer.html" %}
  </footer>
</div>

{% include "_scripts.html" %}

</body>
</html>
