{% extends 'index.html' %}

{% block head_alternate %}
    {% if TAG_FEED_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" title="{{ SITENAME }} // Posts about {{ tag }}">
    {% endif %}
    {% if TAG_FEED_ATOM %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" title="{{ SITENAME }} // Posts about {{ tag }}">
    {% endif %}
{% endblock %}

{% block title %}Posts about {{ tag }} // {{ super() }}{% endblock title %}

{% block pagetitle %}Posts about {{ tag }}{% endblock pagetitle %}
