/*
 * Layout & Main Components
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
}

.content {
    padding: 2em 3em 0;
    max-width: 1000px;
    font-size: 110%;
    line-height: 1.45;
    color: #333332;
}

.header {
    text-align: center;
    width: 767px;
    max-width: 100%;
}

.header-article {
    width: 767px;
    max-width: 100%;
    text-align: right;
    padding-top: 4em;
}

.header-article h5 {
    clear: both;
}


@media (max-width: 767px) {
    #layout {
        padding: 0;
    }

    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .content {
        padding: 1em 1.5em 0;
        font-size: 85%;
    }

    .header,
    .header-article {
        text-align: center;
        top: auto;
        position: static;
    }
}

/*
 * Common
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);

html, button, input, select, textarea,
.pure-g-r [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body {
    color: #333332;
}

a {
    text-decoration: underline;
    color: #333332;
}
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
}

/*
 * Sidebar
 */

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 2em;
    opacity: 0.95;
    border: 1px solid rgba(0,0,0,0.3);
}

.brand-main {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 95%;
    font-weight: 600;
    letter-spacing: 1px;
}

.tagline {
    font-size: 80%;
    color: #333332;
    margin-top: -8px;
    margin-left: 15px;
    margin-bottom: 2em;
}

.links {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.links a {
    font-size: 90%;
    padding-left: 15px;
    letter-spacing: 2px;
    text-decoration: none;
}
.links a:hover,
.links a:focus {
    text-decoration: underline;
}

.social {
    display: inline-block;
    margin-left: 15px;
}
.social a {
    text-decoration: none;
}

.contact {
    margin-left: 15px;
}
.contact a {
    letter-spacing: 1px;
}

@font-face {
    font-family: Flaticon;
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-twitter:before { content: "\e004"; }
.flaticon-github:before { content: "\e001"; }
.flaticon-linkedin:before { content: "\e002"; }
.flaticon-researchgate:before { content: "\e003"; }
.flaticon-email:before { content: "\e000"; }

.flaticon-twitter {
    font-size: 29px;
}
.flaticon-github {
    font-size: 37px;
    position: relative;
    top: 2px;
    margin-left: 10px;
}
.flaticon-linkedin {
    font-size: 26px;
    position: relative;
    top: -4px;
    margin-left: 10px;
}
.flaticon-researchgate {
    font-size: 33px;
    position: relative;
    top: 1px;
    margin-left: 10px;
}





.comments { padding: 50px 0 0;
}

.banner {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}

pre {
    padding: 15px 15px 15px 15px;
    font-size: 90%;
    box-shadow: 2px 2px 2px #888;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}

.article-info {
    padding-top: 15px;
    clear: right;
    font-weight: 300;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
}


.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post {
    padding-bottom: 1em;
    border-bottom: 1px solid #f2f2f0;
}
.post-title {
    font-size: 1.5em;
    color: #333332;
    letter-spacing: -1px;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin-top: -10px;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.2em 0.6em;
    color: #fff;
    background: #999;
    font-size: 90%;
}

.archive-item {
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f0;
}

.archive-date {
    margin: 0;
}

.archive-post {
    line-height: 130%;
}

.archive-meta {
    color: #999;
    font-size: 80%;
    margin: -1px 0 0 0;
}

.footer {
    text-align: center;
    padding: 2em 0;
    font-size: 75%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.highlight pre {
    font-size: 75%;
}
